@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind variants;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  transition: all ease-in-out 400ms;
}
::selection {
  background-color: #7565fa;
  color: white;
}
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.cabt:hover .icca {
  transform: translateX(5px);
}

.menu {
  backdrop-filter: blur(20px) !important;
}
